@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Poppins:ital@0;1&display=swap');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    background: url(images/bg-desktop.svg),hsl(257, 40%, 49%);
    background-repeat: no-repeat;
    background-size:cover

}
nav{
    margin: 2rem;
    margin-left: 4rem;
}
section{
    display: flex;
    justify-content: center;
    margin: 0;
    
    
}

.image-section{
    width: 50%;
    margin: 4rem 2rem 4rem 5rem;
    align-items: center;
}
.text-section{
    display: inline;
    align-items: baseline;
    padding-left: 2rem;
    margin-right: -6rem;
}

h1{
    font-family: 'Poppins', sans-serif;
    color:#fff;
    font-size: 30px;
    margin-top: 7rem;
    letter-spacing: 1px;
    text-align: start;
}

p{
    color: #fff;
    font-size: 15px;
    font-family:'Poppins', sans-serif;
    font-weight: 200;
    margin-top: 2rem;
    margin-right: 2rem;

}

button{
    width: 10rem;
    height: 3rem;
    font-size: 1rem;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    margin-top: 2rem;
    border-radius: 50px;
    border:none;
    color: hsl(257, 40%, 49%);
    cursor: pointer;

}
.socialmedia{
    display: flex;
    justify-content:flex-end;
    align-items: flex-end;
}
li{
    list-style: none;
    display: inline;
    padding-right: 50px;
    cursor: pointer;
}
.fa-brands{
    color: #fff;
    border-radius: 50%;
    border: 1px solid rgb(205, 209, 215);
    padding: 0.5rem 0.6rem;
    
}
button:hover{
    background-color:hsl(300, 69%, 71%);
    color: #fff;
}
.fa-brands:hover{
    color: hsl(300, 69%, 71%);
    border-color: hsl(300, 69%, 71%);
}

@media  screen and (max-width:500px) {
    *{
        margin: 0;
        padding: 0;
        box-sizing: border-box;
        overflow-x: hidden;
    }
    body{
        background: url(images/bg-mobile.svg),hsl(257, 40%, 49%);
        background-repeat: no-repeat;
        background-size:contain;
    }
    nav{
        margin: 2rem;
    margin-left: 2rem;
    }
    .logo{
        height: 3em;
        width: auto;
    }
    section{
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        align-items: flex-start;
        margin: 0%;
    }
    .image-section{
        width: 100%;
        margin: 2.5rem .1rem 1rem 3rem;
        align-items: center;
    }
    .image-mockup{
        width: 25rem;
        height: auto;
    }
    h1{
        font-size: 2rem;
        margin:20% 20% 0 0;
        text-align: center;
    }
    p{
        font-size: 1.3rem;
        margin-right: 20%;
        margin-left: 5%;
    }
    button{
        width: 50%;
        margin:5% 1% 0 12%;
    }
    .socialmedia{
        margin: 20% 50% 0 38%;
        
        
    }
    li{
        padding-right: 10px;
        
    }
    footer > p{
       font-size: 10px;
       margin-left: 20%;
       margin-bottom: 2rem;
    }
    
}